* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Verdana, Lato, Helvetica;
  line-height: 1.4;
  Background-color: #222;
}

a {
  color: #fff;
  text-decoration: none;
}


.container{
    min-width: 400px;
    max-width: 600px;
    margin: auto;
    margin-top: 15px;
    border: solid;
    border-color: #444;  
    border-width: 4px;
}

.btn {
  display: inline-block;
  border: none;
  background: #00bc8c;
  color:white;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 14px;
}

.about{
  background: #375a7f;
  color: #e6e4e4;
  padding: 10px;
}